@media only screen and (max-width: 1200px) {
    
    .hero-text-box  {padding: 0 2%; width: 100%;}
    .row            {padding: 0 2%;}
}

@media only screen and (max-width: 1023px) {
    
     html         {font-size: 17px;}
    .row          {padding: 0 2%;}
    .logo         {width: 125px; height: auto;}
    .btn-app img  {width: auto; height: 60px;}
    
}

@media only screen and (max-width:767px) {
     html          {font-size: 13px;}
    .row          {padding: 0 2%;}
    .logo         {width: 100px; height: auto;}
    .btn-app img  {width: auto; height: 40px;}
}

@media only screen and (max-width: 480px) {
    .row {padding: 0 2px;}
    .section-steps img {width: 85px; height: auto; float: left;}
    section {padding: 25px 0;}
    html {font-size: 12px; }
    .nav {visibility: hidden;}
    .work-steps div {font-size: 100%; width: 25px; height: auto}
    
}
