* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #454545;
    font-family: 'Lato' , 'Arial' , 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
.headline {
    text-align: center;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
}

header {
    background-image: -webkit-gradient(linear , left top, left bottom , from(rgba(0, 0, 0, 0.7)) , to(rgba(0, 0, 0, 0.7))) , url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    
}

header h1 {
    font-size: 395%;
}

section {
    padding: 50px 0;
}

img {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
}

h1 , h2  , h3{
    margin: 0;
    color: #696969;
    font-family: 'Lato';
    font-weight: 300;
    word-spacing: 3px;
    font-size: 350%;
}

h1 {
    color: #fff;
}

h2 {
    font-size: 300%;
    color: #696969;
    text-align: center;
    word-spacing: 1px;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #27ae60;
    width: 350px;
    content: " ";
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 20px;
}

h3 {
    color: #696969;
    font-weight: 400;
    word-spacing: 0px;
    font-size: 150%;
    margin: 5% 0;
}


.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
}

.Button:link ,
.Button:visited{
    display: inline-block;
    border: 2px solid #27ae60;
    padding: 15px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 110%;
    color: #fff;
    margin-top: 25px;
}



.hungry:visited , 
.hungry:link {
    margin-right: 10px;
}

.more:visited ,
.more:link {
    background-color: #27ae60;
    border: 2px solid #27ae60;
    margin-left: 10px;
}
.more:hover ,
.more:active {
    background: none;
    border: 2px solid #27ae60;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.hungry:hover ,
.hungry:active {
    
    background-color: #27ae60;
    border: 2px solid #27ae60;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}



.logo {
    margin: 0;
    padding: 16px;
    float: left;
    height: 150px;
    width: 150px;
    left: 0px;
    margin-top: 10px;
}

.nav{
    float: right;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    padding: 10px;
    margin: 16px;
}

.nav li a:link ,
.nav li a:visited {
    font-size: 85%;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: 3px solid transparent;
    padding: 8px;
    text-transform: uppercase;
}

.nav li a:hover ,
.nav li a:active {
    text-transform: uppercase;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: 3px solid #27ae60;
    -webkit-transition: border 0.3s, font-size 1s;
    transition: border 0.3s, font-size 1s;
}

.s1-main-text {
    line-height: 140%;
    width: 68%;
    margin: 0 16%;
}

.box p {
    margin: 0;
    line-height: 145%;
    width: 90%;
}

.big {
    color: #27ae60;
    font-size: 400%;
    margin: 2%;
}

.meals {
    list-style: none;
    width: 100%;
}

.meals li {
    width: 25%;
    display: block;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: center;
    object-position: center;
    float: left;
    overflow: hidden;
    background-color: #000;
}

.fit {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.6;
}

.fit:hover{
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    overflow: hidden;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.section-meals {
    margin: 0;
    padding: 0;
}

.step-box {
    
    margin-top: 30px;
}

.step-box:first-child {
    text-align: right;
    padding-right: 2%;
}

.step-box:last-child {
    padding-left: 2%;
    text-align: left;
    
}
.app-screen {
    width: 45%;
    height: auto;
}

.work-steps {
    margin-bottom: 20px;
}

.work-steps:last-of-type {
    margin-bottom: 50px;
}
.work-steps div {
    display: inline-block;
    border: 2px solid #36d278;
    border-radius: 50%;
    background-color: #faf9f9;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 140%;
    float: left;
    margin-right: 20px;
    padding: 2px;
}
.btn-app img {
    height: 70px;
    width: auto;
    margin: 16px;
}
.clearfix {zoom:1;}
.clearfix {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
}

.section-steps {
    margin: 0;
    padding: 0;
    background-color: #faf9f9;
}



.section-cities h3 {
    text-align: center;
}

.citi {
    float: left;
    display: inline-block;
    width: 23%;
}

.citi p {
    word-spacing: 2px;
    line-height: 145%;
}

.section-cities img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    vertical-align: middle;
}

.section-cities a:visited ,
.section-cities a:link{
    color: #27ae60;
    text-decoration: none;
    border-bottom: 1px solid #27ae60;
}


.section-cities ion-icon {
    color: #27ae60;
    font-size: 110%;
    margin-top: 5px;
}

.section-customer {
    background-image: -webkit-gradient(linear , left top, left bottom , from(rgba(0, 0, 0, 0.7)) , to(rgba(0, 0, 0, 0.7))) , url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.section-customer cite {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.section-customer cite img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    float: left;
    vertical-align: middle;
    margin-right: 16px;
}
.section-customer blockquote {
    
    width: 100%;
    height: auto;
    line-height: 140%;
    word-spacing: 2px;
    margin-bottom: 26px;
}

.section-customer h2 {
    color: #fff;
}
.section-subscription ul {
    list-style: none;
    margin: 0;
    float: left;
    padding: 0;
}

.section-subscription li {
    font-size: 100%;
    text-decoration: none;
}

.section-subscription h4 {
    margin-left: 80px;
    margin-bottom: 15px;
}

.section-subscription {
    background-color: #faf9f9;
    
}

.section-subscription ion-icon {
    color: #27ae60;
}

.section-plans a {
    display: inline-block;
    border: 2px solid #27ae60;
    padding: 15px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 110%;
    color: #27ae60;
    margin-top: 25px;
}

.section-plans {
    background-color: #faf9f9;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 2px 5px 10px #363636;
    box-shadow: 2px 5px 10px #363636;
}

.plan-box a:hover , 
.plan-box a:active {
    display: inline-block;
    border: 2px solid #27ae60;
    padding: 15px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 110%;
    color: #fff;
    background-color: #27ae60;
    margin-top: 25px;
    -webkit-transition: 0.37s;
    transition: 0.37s;
}


.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child {
    text-align: center;
    vertical-align: middle;
    border: 0;
    background-color: #f8f8f8;
}

.plan-box div:first-child {
    background-color: #f8f8f8;
}

.plan-box div:nth-child(2) {
    background-color: #fff;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #27ae60;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ion-icon {
    color: #27ae60;
}

contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select ,
textarea {
    font: 80%;
    font-weight: 300;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

input[type=submit] {
    border-radius: 10%;
    padding: 7px;
    background-color: #27ae60;
    color: #fff;
    -webkit-box-shadow: 0px 2px 2px #ccc;
    box-shadow: 0px 2px 2px #ccc;
}

.footer ul {
    list-style: none;
    text-decoration: none;
}

.footer ul:first-child {
    
    float: left;
}

.footer ul:last-child {
    
    float: right;
}


.footer ul li {
    display: inline-block;
    padding: 7px;
    
}

.footer ul li a {
    color: #587ca0;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: 105%;
    padding: 5px;
}

.footer {
    background-color: #34495e;
    margin: 0;
    padding: 0;
}

.footer div:first-of-type ,
.footer div:nth-child(2){
    
    margin-bottom: 15px;
}

.footer div:last-child {
    padding: 0;
    margin: 0;
}


.footer div p {
    color: #587ca0;
    font-size: 85%;
    text-align: center;
    margin-bottom: 10px;
}
